.profile {
  display: flex;
  flex-direction: column;
  font-family: "Inter", "Arial", sans-serif;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .profile {
    flex-direction: row;
  }
}
