.header__link {
    text-decoration: none;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;

    color: #FFFFFF;
}

.header__link:hover {
    opacity: 0.8;
    cursor: pointer;
}