.authorization-form__footer-text {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: center;
    margin: 15px 0 0 0;
    padding: 0;
}