.authorization-form__input {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
    color: #ffffff;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #CCCCCC;
    margin-bottom: 30px;
    background-color: #000000;
}